extends layout

block content
  a(href='https://github.com/guineitor/blockchain')
    img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork me on GitHub')
  .container
    h1 Blockchain Demo
    br

    p.pull-right thanks 
      a(href='https://github.com/anders94/blockchain-demo') anders94
      
